/*반응형 웹 스타일*/
            /* 스마트폰 (portrait) ---------------- */

            @media only screen and (max-width : 320px)
            {
                #wrapper {
                    width:100%;
                    margin:0 auto;
                }
                #login_box{left:40px;}
            }
            /* 스마트폰 (landscape) ---------------- */

            @media only screen and (min-width : 321px) and (max-width : 767px)
            {
                #wrapper {
                    width:90%;
                    margin:0 auto;
                }
                #login_box{left:80px;}
            }

            /* 태블릿 (portrait) -------------------- */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
            {
                #wrapper {
                    width:70%;
                    margin:0 auto;
                }
                #login_box{left:60px;}
            }

            /* 태블릿 (landscape) ------------------- */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
            {   
                #wrapper {
                    width:70%;
                    margin:0 auto;
                }
                #login_box{left:80px;}
            }

            /* 구형 데스크탑  ------------------ */

            @media only screen and (min-width : 1025px) 
            {
                #wrapper {
                    width:55%;
                    margin:0 auto;
                }
                #login_box{left:100px;}
            }

            /* 데스크탑 ------------------ */

            @media only screen and (min-width : 1201px) 
            {
               #wrapper {
                    width:55%;
                    margin:0 auto;
                }
                #login_box{left:120px;}
            }